
@import 'grid.scss';
@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);
    src: url(../fonts/OpenSans-Light.ttf);
    src: url(../fonts/OpenSans-SemiBold.ttf); }
@font-face {
        font-family: Oswald;
        src: url(../fonts/Oswald-Regular.ttf);
        src: url(../fonts/Oswald-Light.ttf);
        src: url(../fonts/Oswald-SemiBold.ttf);
        src: url(../fonts/Oswald-Medium.ttf); }
@font-face {
    font-family: fontello;
    src: url(../fonts/fontello.woff), url(../fonts/fontello.woff2); }

// * {
//     outline: 1px solid green;
// }

.header{
    height: 145px;
    background-color: #1b1b1b;
    color: #fefefe;
}

.logo-img{
    width: 60px;
    height: 60px;
    background: url(../img/logo.svg);
}
.logo-img, .logo-text{
    display: inline-block;
}
.logo-text{
    font-family: Oswald;
    font-size: 42px;
    font-weight: 400;
    line-height: 98.83px;
    letter-spacing: 1.25px;
    padding-left:8px;
}
.header-content, .header__item{
    flex-wrap: nowrap;
}
.header__item__icon{
    color: #df3636;
}
.header__item__icon, .header__item__text {
    padding:0 5px;
}

.header-nav{
    height: 70px;
    background-color: #282828;
    color: #fefefe;
}
.header-nav__search{
    width: 38px;
    height: 38px;
    background-color: #171717;
    border: 1x solid #171717;
    border-radius:20px;
    text-align: center;
    line-height: 2.4;
}
.compare-icon, .cart-icon{
    padding-left:5px;
}
.header-nav__compare{
    margin-left:50px;
}
.header-nav__item a{
    color: #fefefe;
}
.header-nav__item a:hover{
    color: #df3636;
    text-decoration: none;
}
.header-nav__item:hover, .header-nav__compare:hover, .header-nav__search:hover, .header-nav__cart:hover, .menu-button:hover{
    color: #df3636;
}
.header__item:hover{
    color: rgb(194, 190, 190);
}

.menu-button{
    width:35px; 
    height:35px;
    background: url(../img/menu-button.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.showMenu{
    display: block;
}

@media(max-width:800px){
    .header-nav__item{
        display:none;
    }
    .menu-button{
        display:block!important;
    }

    .header-content{
        display:block; 
    }
    .header__item {
        margin-bottom:5px; margin-top:5px;  
    }
}
@media(max-width:470px) {
    .header-content{
        display:none;
    }
}